.googlefont-block .igfh-spinner{
	background:url('../images/spinner.gif') no-repeat 0 0 scroll transparent;
	height:60px;
	width:60px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:1;
	display:block;
	margin: -30px 0 0 -30px;
}

.googlefont-block {
	position: relative;
}

.webfonts-waiting {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	display: none;
}
.webfonts-waiting.show {
	display: block;
}

.ighf-save-button{
	clear:both;
	margin:10px 0 30px;
}
/*
.webfonts-selections.show {
	display: block;
}

.webfonts-selections.hide {
	display: none;
}*/
.webfonts-selections {
	display: none;
	/*display: block!important;*/
}

.googlefont-block.hide {
	display: none;
}

.googlefont-block  hr{
    margin-top: 30px;
}

.hide-label {
	display: none;
}

.show .show-label {
	display: none;
}

.show .hide-label {
	display: block;
}